<div class="card mt-4">
    <h4 class="card-header">RRSM Manager - Dashboard</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <br />
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ag-grid-angular *ngIf="rowData"
            style="width: 100%; height: 70vh;" 
            class="ag-theme-balham"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            >
        </ag-grid-angular>
    </div>
</div>